/* Background Editor */
body {
  background-color: #121212;
  font-family: 'Raleway', sans-serif;
}

p {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-left: 2.5%;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #252525;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: right;
  display: block;
  color: rgba(255, 255, 255, 0.801);
  text-align: center;
  padding: 1rem 1rem;
  margin-right: 2rem;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background:rgba(138, 138, 138, 0.096);
}
  
.h1 {
  font-family: 'Raleway', sans-serif;
  margin-top: 53px;
  color: rgb(255, 255, 255);
  margin-bottom: 3px;
  font-size: 3em;
  font-weight: normal;
  text-align :center;
}

.terminal {
  --size: 1.5;
  --color: rgba(255, 255, 255, 0.8);
  width: 75%;
  margin-left: 12.5%;
}

.title1 {
  margin: 0 auto;
}

.gaming {
  font-family: 'Raleway';
  font-style: bold;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #313131;
  font-size: 45px;
  font-weight: bold;
  position: absolute;
  -webkit-animation: colorchange 10s infinite alternate;
}

@-webkit-keyframes colorchange {
  0% {
    color: blue;
  }
  10% {
    color: #8e44ad;
  }
  20% {
    color: #1abc9c;
  }
  30% {
    color: #d35400;
  }
  40% {
    color: blue;
  }
  50% {
    color: #34495e;
  }
  60% {
    color: blue;
  }
  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }
  90% {
    color: #2980b9;
  }
  100% {
    color: pink;
  }
}

.main {
	
	{