/* Background Editor */
body {
  background-color: #121212;
  font-family: 'Raleway', sans-serif;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #252525;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: right;
    display: block;
    color: rgba(255, 255, 255, 0.801);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background:rgba(138, 138, 138, 0.096);
  }
  
.h1 {
  font-family: 'Raleway', sans-serif;
  margin-top: 53px;
  color: rgb(255, 255, 255);
  margin-bottom: 3px;
  font-size: 3em;
  font-weight: normal;
  text-align :center;
}

.console {
  overflow: hidden;
  scrollbar-width: none;
  overflow: auto;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}

.console::-webkit-scrollbar
{
  display: none;
}
